## Python List

---

In [ ]:
# Create list
# Ex:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [ ]:
# Allow Duplicates
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [ ]:
# List Length
# To determine how many items a list has, use the len() function:
# Ex: Print the number of the items in the list
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [ ]:
# List Items-Data Types
# List items can be of any data type.
# Ex: String,int and boolean data types.
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [ ]:
# A list can cointain different data types.
list1 = ["abc", 34, True, 40, "male"]

In [ ]:
# Type()
# Ex: What is the data type of the list?
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [ ]:
# The list() constructor
# Ex: Using the list() constructor to make a list.
thislist = list(("apple", "banana", "cherry"))
# note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

## Access List Items

---

In [ ]:
# List items are indexed and you can access them by referring to the index number:
# Ex:Print the second item of the list:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [ ]:
# Negative Indexing
"""Negative indexing means start from the end
-1 refers to the last item, -2 refers to the second last item etc."""
# Ex: Print the last item of the list
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [ ]:
# Range of Indexes
"""You can specify a range of indexes by specifying where to start and
where to end the range.
When specifying a range, the return value will be a new
list with the specified items."""
# Ex: Return the third,fourth,and fifth item
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
# Note:The search will start at index 2 (included) and end at index 5 (not included).

['cherry', 'orange', 'kiwi']

In [ ]:
# By leaving out the start value, the range will start at the first item:
# Ex: This example returns the items from the beginning to, but NOT including, "kiwi":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# By leaving out the end value, the range will go on to the end of the list:
# Ex: This example returns the items from "cherry" to the end:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [ ]:
# Range of Negative Indexes
# Ex:This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [ ]:
# Check if Item Exists
# Ex: Check if "apple" is present in the list:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

## Change List Items

---

In [ ]:
# Change Item value
# To change the value of a specific item, refer to the index number:
# Ex: Change the second item
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [ ]:
# Change a Range of Item Values
# To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:
# Ex:Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
"""If you insert more items than you replace, the new items will be inserted where you specified,
and the remaining items will move accordingly:"""
# Èx: Change the second value by replacing it with two new values:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [ ]:
# Ex: Change the second and third value by replacing it with one value:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [ ]:
# Insert Items
"""To insert a new list item, without replacing any of the existing values,
we can use the insert() method.
The insert() method inserts an item at the specified index:"""
# Ex:Insert "watermelon" as the third item:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

## Add List Items

In [ ]:
# Append Items
# To add an item to the end of the list, use the append() method:
# Ex: using append() method to append an item.
thislist = ["apple","banana","cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
# Insert Items
"""To insert a list item at a specified index, use the insert() method.
The insert() method inserts an item at the specified index:"""

# Ex: Insert an item as the second position:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
# Extend List
# To append elements from another list to the current list, use the extend() method.
# Ex: Add the elements of tropical to thislist:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [ ]:
# Add Any Iterable
"""The extend() method does not have to append lists, you can add
any iterable object (tuples, sets, dictionaries etc.)."""
# Add elements of a tuple to a list:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

## Remoove List Items

---

In [1]:
# Remove Specified Item
# The remove() method removes the specified item.
# Ex: Remove "banana"
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [2]:
# If there are more than one item with the specified value, the remove() method removes the first occurrence:
# Ex: Remove the first occurrence of "banana":
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [3]:
# Remove Specified Index
# The pop() method removes the specified index.
# Ex: Remove the second item.
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [4]:
# If you do not specify the index, the pop() method removes the last item.
# Ex: Remove the last item
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [5]:
# The del keyword also removes the specified index:
# Ex: Remove the first item:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [6]:
# The del keyword can also delete the list completely.
# Ex: Delete the entire list
thislist = ["apple", "banana", "cherry"]
del thislist

In [7]:
# Clear the List
"""The clear() method empties the list.
The list still remains, but it has no content."""
# Ex: Clear the list content:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

## Loop Lists

---

In [8]:
# Loop through a list
# You can loop through the list items by using a for loop:
# Ex: Print all items in the list, one by one.
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [9]:
# Loop Through the Index Numbers
"""You can also loop through the list items by referring to their index number.
Use the range() and len() functions to create a suitable iterable."""
# Ex: Print all items by referring to their index number:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [10]:
# Using a While Loop
"""You can loop through the list items by using a while loop.
Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.
Remember to increase the index by 1 after each iteration."""
# Ex: Print all items, using a while loop to go through all the index numbers
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [11]:
# Looping Using List Comprehension
# List Comprehension offers the shortest syntax for looping through lists:
# Ex: A short hand for loop that will print all items in a list:
hislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

## List Comprehension

---

In [12]:
# Ex:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [13]:
# With list comprehension you can do all that with only one line of code:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']