In [1]:
# Getting the Data Type
x = 5
print(x)
print(type(x))

5
<class 'int'>

In [4]:
# Setting the data type
x = "Sakib Hossain"
print(x)
print(type(x))

x = 95
print(x)
print(type(x))

x = 20.5
print(x)
print(type(x))

x = 1j
print(x)
print(type(x))

x = ["apple","banana","cherry"]
print(x)
print(type(x))

x = ("apple","banana","cherry")
print(x)
print(type(x))

x = range(6)
print(x)
print(type(x))

x = {"name": "sakib", "age": 23}
print(x)
print(type(x))

x = {"apple","banana","cherry"}
print(x)
print(type(x))

x = True
print(x)
print(type(x))

x = b"Sakib"
print(x)
print(type(x))

x = bytearray(5)
print(x)
print(type(x))

x = memoryview(bytes(5))
print(x)
print(type(x))

x = None
print(x)
print(type(x))

Sakib Hossain
<class 'str'>
95
<class 'int'>
20.5
<class 'float'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'sakib', 'age': 23}
<class 'dict'>
{'cherry', 'banana', 'apple'}
<class 'set'>
True
<class 'bool'>
b'Sakib'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x7cbb963fbe80>
<class 'memoryview'>
None
<class 'NoneType'>

In [6]:
# Setting the specific data types
x = str("Sakib Hossain")
print(x)
print(type(x))

x = int(95)
print(x)
print(type(x))

x = float(20.5)
print(x)
print(type(x))

x = complex(1j)
print(x)
print(type(x))

x = list(("apple","banana","cherry"))
print(x)
print(type(x))

x = tuple(("apple","banana","cherry"))
print(x)
print(type(x))

x = range(6)
print(x)
print(type(x))

x = dict(name= "sakib", age= 23)
print(x)
print(type(x))

x = set(("apple","banana","cherry"))
print(x)
print(type(x))

x = frozenset(("apple","banana","cherry"))
print(x)
print(type(x))

x = bool(5)
print(x)
print(type(x))

x = bytes(5)
print(x)
print(type(x))

x = bytearray(5)
print(x)
print(type(x))

x = memoryview(bytearray(5))
print(x)
print(type(x))

Sakib Hossain
<class 'str'>
95
<class 'int'>
20.5
<class 'float'>
1j
<class 'complex'>
['apple', 'banana', 'cherry']
<class 'list'>
('apple', 'banana', 'cherry')
<class 'tuple'>
range(0, 6)
<class 'range'>
{'name': 'sakib', 'age': 23}
<class 'dict'>
{'cherry', 'banana', 'apple'}
<class 'set'>
frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>
True
<class 'bool'>
b'\x00\x00\x00\x00\x00'
<class 'bytes'>
bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>
<memory at 0x7cbb96168580>
<class 'memoryview'>