## Python Variables

---

In [ ]:
# Creating variables
"""Python has no commands for declaring a variable.
A variable is created the moment you first assign a value to it."""

x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
# Ex:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [4]:
# Creating variables
"""Python has no command for declaring a variable.
A variable is created the moment you first assign a value to it."""
# Ex:
x = 5
y = "Sakib"
print(x)
print(y)

5
Sakib

In [6]:
""""Variables do not need to be declared with any particular type, and can even change type after they have been set"""
# Ex:
x = 5
x = "Sakib"
print(x)

Sakib

In [7]:
# Casting
"""If youwant to specify the data type of a variable, this can be done with casting."""
# Ex:
x=str(3)
y=int(3)
z=float(3)

print(x)
print(y)
print(z)

3
3
3.0

In [9]:
# Get the type
# You can get the type of a variable with the type() function.
# Ex:
x = 5
y = "sakib"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [10]:
# Single or Double Quotes
"""String can be deaclared either by using single or double quotes."""
x = "sakib"
x = 'sakib'
print(x)

sakib

In [12]:
# Case Sensitive
# Variable names are case-sensitive.
# Ex: This will create two variables.
a = 5
A = "Sakib"

print(a)
print(A)

5
Sakib

## Variable Names

---

In [13]:
# Variable Names
# Ex: Legal variable names.
myvar="sakib"
my_var="sakib"
_my_var="sakib"
MyVar="sakib"
MYVAR="sakib"
myvar2="sakib"

print(myvar)
print(my_var)
print(_my_var)
print(MyVar)
print(MYVAR)
print(myvar2)

sakib
sakib
sakib
sakib
sakib
sakib

In [15]:
# Multi words varible names
"""Variable names with more than one word can be difficult to read.
There are several techniques you can use to make the more readable."""
# Ex: Camel Case
# Each word,except the first, starts with a capital letter.
myVariableName="sakib"
print(myVariableName)

# Pascal Case
# Each word start with capital letter
MyVariableName="sakib"
print(MyVariableName)

# Snake Case
# Each word is seperated by an underscore character
my_variable_name="sakib"
print(my_variable_name)

sakib
sakib
sakib

## Assign Multiple Values

---

In [16]:
# Many values to multiple variables
# Python allows you to assign values to multiple variables in one line
# Ex:
x,y,z="Orange","Banana","Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [17]:
# One value to multiple varibales
# Ex:
x=y=z="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [18]:
# Unpack a collection
"""If you have a collection of values in a list,tuple etc.
Python allows you to extract the values into variables.
This is called unpacking."""

fruits = ["apple","banana","cherry"]
x,y,z=fruits
print(x)
print(y)
print(z)

apple
banana
cherry

## Output Variables

---

In [19]:
# Output variables
# The python print() function is often used to output variables.
# Ex:
x = "Python is awesome."
print(x)

Python is awesome.

In [20]:
# In the print() function, you output multiple variables,seperated by a comma.
# Ex:
x = "Python"
y = "is"
z = "awesome"

print(x,y,z)

Python is awesome

In [22]:
# You can also use the + operator to ouput multiple variable.
# Ex:
x = "Python"
y = "is"
z = "awesome"
print(x + y + z)

Pythonisawesome

In [23]:
# For numbers, the + character works as a mathematical operator:
# Ex:
x = 5
y = 10
print(x + y)

15

In [24]:
# The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:
# Ex:
x = 5
y = "John"
print(x, y)

5 John

## Global Variables

---

In [26]:
"""Variables that are created outside of a function (as in all of the examples in the previous pages)
 are known as global variables.
Global variables can be used by everyone, both inside of functions and outside."""

# Ex: Create a variable outside of a function, and use it inside the function.
x = "awesome"
def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [27]:
# Ex: Create a variable inside a function, with the same name as the global variable
x = "awesome"
def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [28]:
# The Global Keyword
# To create a global variable inside a function, you can use the global keyword.
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [29]:
# Also, use the global keyword if you want to change a global variable inside a function.
# Ex: To change the value of a global variable inside a function, refer to the variable by using the global keyword:
x = "awesome"
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic